<!DOCTYPE html>
{% extends "app/base.html" %}
{% load static %}
{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock %}
{% load bootstrap4 %}
{# CSS bootstrap   #}
{% bootstrap_css %}
{% block head %}
    <title>Bokeh</title>
{% endblock %}
{% block body_block %}
    <div class="jumbotron" id="jumbo" style="text-align: center; background: rgba(189,204,222,0.38)">
         {{div| safe}}
    </div>
    {# JS y jQuery Bootstrap#}
    {% bootstrap_javascript jquery='full' %}
{% endblock %}

{% block javascript %}
  {{script| safe}}
{% endblock %}