<!DOCTYPE html>
{% extends "app/base.html" %}
{% load static %}
{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock %}
{% load bootstrap4 %}
{# CSS bootstrap   #}
{% bootstrap_css %}
{% block head %}
    <title>Inicio</title>
{% endblock %}
{% block body_block %}
    <div class="jumbotron" id="jumbo" style="text-align: center; background: rgba(189,204,222,0.38)">
        <h1>Bienvenidos a la PRA2 !</h1><br>
        <h2>Autor: Daniel Alves Yáñez.</h2>
        <h3>Asignatura: Visualización de Datos.</h3>
        <h3>Máster Universitario en Ciencia de Datos de la UOC.</h3>
    </div>
    {# JS y jQuery Bootstrap#}
    {% bootstrap_javascript jquery='full' %}
{% endblock %}



